nav {
  text-align: center;
  margin: 15px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}
