<header>
  <img src="profile.png" alt="Profile Photo">
  <div class="header-text">
    <h1>WAN NUR AZIMAH</h1>
    <p><strong>297976</strong></p>

  </div>
</header>

<main>
  <section>
    <h2>ABOUT ME</h2>
    <p>Hello! I’m an IT student majoring in Software Engineering. I am passionate about web development, mobile development, design, and technology. My goal is to work in a creative tech environment and continue improving my programming skills.</p>
  </section>

  <section>
    <h2>EDUCATION</h2>
    <ul>
      <li>Bachelor of Science with Honours (Information Technology) – Universiti Utara Malaysia (2022–Present)</li>
      <li>Physical Science - Kolej Matrikulasi Kedah (2021–2023)</li>
    </ul>
  </section>

  <section>
    <h2>WORK EXPERIENCE</h2>
    <ul>
      <li>GREENPOINT JABIL - Operator</li>
      <li>FRESH 365 SDN. BHD - Cashier & Store Assistant</li>
      <li>CARI CARI MART - Cashier & Store Assistant</li>
      <li>COLLECTION FASHION STORE - Promoter</li>
    </ul>
  </section>

  <section>
    <h2>EXTRACURRICULAR ACTIVITIES</h2>
    <ul>
      <li> Soc Buddies of School of Computing UUM </li>
      <li>Setiausaha, Karnival Pusat Pengajian Pengkomputeran: Busker UUM </li>
      <li>Ahli Jawatankuasa (AJK), Cybersecurity Sharing Session:Demonstration Phishing Attack UUM </li>
      <li>Ahli Jawatankuasa (AJK), Program Scammer Hack (YADIM) UUM </li>
      <li>Ahli Kelab Rakan Sukan KMK</li>
      <li>Ahli Pembimbing Rakan Dinamik KMK</li>
      <li>Fasilitator, Karnival Kerjaya KMK </li>
      <li>Fasilitator, Root to Success Mathematics KMK </li>
      <li>Naib Pengerusi, Kelab Rekreasi dan Kembara </li>
      <li>Setiausaha, Pengawas Sekolah </li>
      <li>Participant, CCM STEM UP Challenge </li>
      <li>Participant, Digital Competency Score </li>
    </ul>
  </section>

  <section>
    <h2>SKILLS</h2>
    <ul>
      <li>HTML, CSS, JavaScript</li>
      <li>Git & GitHub</li>
      <li>Flutter</li>
      <li>MySQL</li>
      <li>Capcut</li>
      <li>Canva</li>
      <li>Communication Skills</li>
      <li>Technical Skills</li>
    </ul>
  </section>

  <section>
    <h2>LANGUAGE</h2>
    <ul>
      <li>English</li>
      <li>Malay</li>
    </ul>
  </section>
</main>
